h2{color: blueviolet;}
p{background-color: rgb(235, 142, 22);}

.me{background-color: aqua; color: rgb(0, 0, 0);font-size: x-large; font-family: 'Times New Roman', Times, serif;}

.z{background-color: blueviolet;font-size: xx-large;font-style: initial;
}
.x{ border: 10px;border-radius: 10px;border-color:rgb(142, 7, 7) ;padding: 20px; border-style: solid;}